
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DIN Next LT Arabic';
  src: url('../../public/Fonts/ArbFONTS-DINNextLTArabic-Regular-4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@layer base {
  html {
    font-family: "Tajawal", "sans-serif";
    direction: rtl;
  }

  body {
    background-color: #fdfeff;
    user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'DINNextLTArabic', sans-serif;
  }
}


html::-webkit-scrollbar {
  width: 0px;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
